
body {
    background-color: cornsilk;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: inset 0 0 0 10px rgb(255, 0, 0); /* border */
}

head 
{
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;       
    height: 100%;             
    box-sizing: border-box;
}

.startCard{
    color: black;
    font-size: large;
    ;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-left: 20px;
    padding-top: 25px;


}

.nestedIf
{
    padding-left: 30px;



}

.experienceCard
{
    font-size: x-large;
    padding-top: 10px;
    padding-left: 50px;


}
.experienceCard .project 
{
    font-size: x-large;
    padding-top: 10px;
    padding-left: 70px;
    

}


.middleCardDeco
{
  width: 70px;            
  height: 100vh;         
  background-color: black;    

  position: fixed;
  left: 910px;
  top: 0;      
  bottom: 0; 
  background:  /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/gradient/repeating-linear-gradient */
    repeating-linear-gradient(
      to bottom,             
      white 0px,             
      white 5px,              
      black 5px,              
      black 50px              
    );
}

.personalInformationBox
{
  font-size: larger;
  justify-content: left;  
  width: 650px;
  left: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 20px;
  background-color: wheat;
  margin-left: 100px;
  outline-width: 300px;
  outline: auto;
  
}

.personalInformation button
{
  width: 80px;
  height: 70px;
  background-color: yellow;
  position: relative;
  top: 7px;
  right: 10px;
  left: 103px
  
  
  

}

.inProgressProjects {
  position: fixed; 
  top: 0;
  right: 0;             
  padding: 200px;  
  padding-right: 500px;

}


#infoPopup {
    background-color: wheat;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: left;
}

.inProgressProjects .firstProject {
    position: absolute;
    background-color: rgb(255, 0, 0);
    padding: 20px;
    width: 500px;
    height: 100px;

    top: 200px;
    left: 0px;

    
}
.inProgressProjects .secondProject {
    position: absolute;
    background-color: rgb(255, 0, 0);
    padding: 20px;
    width: 500px;
    height: 100px;

    top: 400px;
    left: 0px;

    
   
}
.inProgressProjects .thirdProject {
    position: absolute;
    background-color: rgb(255, 0, 0);
    padding: 20px;
    width: 500px;
    height: 100px;
    top: 600px;
    left: 0px;

  
}
.inProgressProjects img {
    width: 200px;               
    height: 120px;              
    border: 3px solid white;    
    border-radius: 15px;        /* Rounded border */ 
    object-fit: cover;         
    display: block;             
    margin-top: 5px;           
}

.subtext
{
  right: 20px;
}

.nestedBox
{
  margin-left: auto;
  margin-right: 30px;


}




  
