body
{
    background-color: cornsilk;

}


.startCard{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-left: 20px;
    padding-top: 25px;


}

.nestedIf
{
    padding-left: 30px;



}

.experienceCard
{
    padding-top: 10px;
    padding-left: 50px;


}
.experienceCard .project 
{
    padding-top: 10px;
    padding-left: 70px;
    

}