body {
    background-color: cornsilk;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; 
  
}

head 
{
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;       
    height: 100%;             
    box-sizing: border-box;
}

.startCard{
    color: black;
    font-size: large;
    ;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
   


}

.extraInfoBox
{
  display: none;
}
.leftSide
{
  margin-left: 30px;
  max-width: 90%; 

}


.experienceCard
{
    font-size: x-large;
    padding-top: 10px;


}
.experienceCard .project 
{
    font-size: x-large;
    padding-top: 10px;
    

}


.middleCardDeco {
  
  width: 70px;
  height: 100vh;
  background-color: black;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);  /* half */

  background:
    repeating-linear-gradient(
      to bottom,
      white 0px,
      white 5px,
      black 5px,
      black 50px
    );
}
.personalInformationBox
{
  font-size: larger;
  justify-content: left;  
  font-size: clamp(14px, 1.5vw, 22px);
  line-height: 1.4;
  padding: 20px;
  background-color: wheat;
  outline: auto;
   
  width: min(50vw, 400px);   
  min-width: 30vw; 
  padding: 1vw;    
  margin: 2vw;     
  border: 2px solid red;
  box-sizing: border-box;
}

@media (max-width: 1400px) {  
    .middleCardDeco {
        display: none;  /* Stop displaying the bar on smaller screen size s. */
    }
}
.personalInformation button
{
  width: 80px;
  height: 70px;
  background-color: yellow;
  position: relative;
  
  
  
  

}
.pageManage {
    display: flex;
    flex-direction: row;   
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap;
    width: 100%;
}

.finishedProjects {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;   
    margin-left: auto;
    margin-top: 0;
    width: 100%;
    padding-left: 5%;
    margin-right: 5%
    
}


#infoPopup {
    background-color: wheat;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: left;
}

.finishedProjects .firstProject {
    position: relative;
    background-color: rgb(255, 0, 0);
    padding: 1.5rem;          
    width: min(90%, 600px);     
    min-width: 300px;          
    height: auto;              
    box-sizing: border-box;     
    margin-bottom: 2vw;         
    font-size: clamp(16px, 2vw, 22px); 
    line-height: 1.4;           
    border: 2px solid black;
    border-radius: 15px;

  

    
}

.finishedProjects .secondProject {
    position: relative;
    background-color: rgb(25, 148, 0);
    padding: 1.5rem;          
    width: min(90%, 600px);     
    min-width: 300px;          
    height: auto;              
    box-sizing: border-box;     
    margin-bottom: 2vw;         
    font-size: clamp(16px, 2vw, 22px); 
    line-height: 1.4;           
    border: 2px solid black;
    border-radius: 15px;

    
   
}
.finishedProjects .thirdProject {
    position: relative;
    background-color: rgb(0, 108, 158);
    padding: 1.5rem;          
    width: min(90%, 600px);     
    min-width: 300px;          
    height: auto;              
    box-sizing: border-box;     
    margin-bottom: 2vw;         
    font-size: clamp(16px, 2vw, 22px); 
    line-height: 1.4;           
    border: 2px solid black;
    border-radius: 15px;
    

  
}
.finishedProjects img {
    width: 200px;               
    height: 120px;              
    border: 3px solid white;    
    border-radius: 15px;        /* Rounded border */ 
    object-fit: cover;         
    display: block;             
    margin-top: 5px;           
}

.subtext
{
  right: 20px;
}

.nestedBox
{
  margin-left: auto;
  margin-right: 30px;


}




  
